html,
body {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 658px;
  gap: 20px;
  height: 517px;
  display: flex;
}

.img {
  width: 50%;
  height: 100%;
}
.login {
  width: 50%;
  height: 100%;
}
.pahla:hover {
  border: 2px solid black;
  transition: 0.2s;
}
.pahla {
  width: 100%;
  height: 73%;
  border: 2px solid #cfcfcf;
  border-radius: 5px;
}
.imag {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img1 {
  margin-top: 24px;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 60%;
  height: 50px;
}
.img1:hover {
  border: 2px solid black;
}
.in {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-top: 35px;
}
.input1 {
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}
.input1:hover {
  font-size: 1.01vw;
  transition: 0.1s;
}
button:hover {
  border: 1px solid black;
}
.in2 {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-top: 8px;
}
.input2 {
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.in3 {
  width: 90%;
  height: 30px;
  padding-top: 13px;
  padding-left: 15px;
}
button {
  width: 100%;
  border-radius: 3px;
  border: transparent;
  height: 100%;
  color: white;
  background: linear-gradient(150deg, #98dbf9, #3281f8, #cfcfcf);
}

.text-between-lines {
  position: relative;
  text-align: center;
  margin: 30px 0;
  color: #adadad;
}
.text-between-lines::before,
.text-between-lines::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 40%;

  height: 0.1px;
  background-color: black;
}
.text-between-lines::before {
  right: 55%;
  background-color: #adadad;
  margin-right: 10px;
}
.text-between-lines::after {
  background-color: #adadad;
  left: 55%;
  margin-left: 10px;
}

.text-between-lines:hover {
  color: black;
}
.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #172f80;
}
.facebooki {
  padding-right: 5px;
  width: 20px;
}
.facebook:hover {
  font-size: 1.1vw;
  transition: 0.2s;
}

.for {
  width: 100%;
  color: #0d6efd;
  font-weight: bold;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.for:hover {
  font-weight: bolder;
  color: #0252c9;
}

.sp {
  color: #0d6efd;
  font-weight: bold;
}
.sp:hover {
  color: #3a86f8;
}
.dusra {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 7px;
  width: 100%;
  height: 8%;
  border: 2px solid #cfcfcf;
  border-radius: 5px;
}
.tisra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  color: #0d6efd;
  font-size: 1.4vw;
  font-weight: bold;
}
.dusra:hover {
  border: 2px solid black;
  transition: 0.2s;
}
.im {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.playstore {
  border-radius: 5px;
  margin-top: 10px;
  width: 150px;
  border: 3px solid transparent;
}

.appstore {
  border-radius: 5px;
  margin-top: 10px;
  width: 150px;
  border: 3px solid transparent;
}
.appstore:hover {
  border: 3px solid black;
}

.playstore:hover {
  border: 3px solid black;
}

.tisra:hover {
  color: #2a5faf;
  font-size: 1.6vw;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .img {
    display: none;
  }
  main {
    width: 800px;
    gap: 20px;
    height: 517px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 80%;
    height: 100%;
  }
  .tisra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
    color: #0d6efd;
    font-size: 5vw;
  }

  .im {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .playstore {
    margin-top: 10px;
    width: 137px;
  }
  .appstore {
    margin-top: 10px;
    width: 137px;
  }
}
